.git
.env
.env.*
!.env.example
vendor
node_modules
bk
_mockup_extract
storage/logs/*
storage/app/print-jobs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*.php
database/database.sqlite
databasedatabase.sqlite
*.zip
*.sql
public/*.sql
